<template>
    <div>
        <div class="box">
            <h1>Create privacy zone</h1>
            <p>Zoom in and double click on the map to set your privacy zone.</p>
            <p>A red circle will be randomly placed over your selection, this prevents others knowing the exact location of your privacy zone.</p>
        </div>
        <div id="map"></div>
        <div class="submit-button-container">
            <button class="btn btn-primary" v-on:click="handleSubmit">Submit</button>
        </div>
    </div>
</template>

<script>
    import L from 'leaflet'
    import 'leaflet/dist/leaflet.css'
    import axios from 'axios'

    export default {
        data() {
            return {
                originalPoint: [],
                radius: 400,
                marker: null,
                randomInRange: [],
                shiftedZoneMarker: null
            }
        },

        methods: {
            toRadians: function (degrees) {
                return degrees * (Math.PI / 180);
            },

            toDegrees: function (radians) {
                return radians * (180 / Math.PI);
            },

            randomZonePoint: function (point, radius) {
                const earths_radius = 6371000 // In metres

                // Reduce the radius a little to prevent the privacy zone being right on the edge.
                let distance = (radius - 50) * Math.sqrt(Math.random())
                let azimuth = Math.random() * 2 * Math.PI

                let φ1 = this.toRadians(point[0])
                let λ1 = this.toRadians(point[1])

                let φ2 = Math.asin( Math.sin(φ1)*Math.cos(distance/earths_radius) +
                    Math.cos(φ1)*Math.sin(distance/earths_radius)*Math.cos(azimuth) );
                let λ2 = λ1 + Math.atan2(Math.sin(azimuth)*Math.sin(distance/earths_radius)*Math.cos(φ1),
                    Math.cos(distance/earths_radius)-Math.sin(φ1)*Math.sin(φ2));

                return [this.toDegrees(φ2), this.toDegrees(λ2)]
            },

            handleSubmit: function (e) {
                axios.post(
                    process.env.VUE_APP_API_BASE + 'profile/privacy_zone',
                    {
                        privacy_zone: {
                            original_point: this.originalPoint,
                            random_in_range: this.randomInRange,
                            range: this.radius
                        }
                    })
                    .then(function () {
                        window.location.replace('/profile/privacy_zone')
                    })
            }
        },
        mounted: function () {

            // Marker only shows after doing this.  https://github.com/PaulLeCam/react-leaflet/issues/453#issuecomment-410450387
            delete L.Icon.Default.prototype._getIconUrl;
            L.Icon.Default.mergeOptions({
                iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
                iconUrl: require('leaflet/dist/images/marker-icon.png'),
                shadowUrl: require('leaflet/dist/images/marker-shadow.png')
            });

            let map = L.map('map').setView([-8.67, 140.10], 2)
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox.streets',
                accessToken: process.env.VUE_APP_MAPBOX_KEY
            }).addTo(map)
            map.doubleClickZoom.disable()

            map.on('dblclick', (e) => {
                if (this.marker !== null) { map.removeLayer(this.marker) }
                if (this.shiftedZoneMarker !== null) { map.removeLayer(this.shiftedZoneMarker) }
                this.originalPoint = [e.latlng.lat, e.latlng.lng]
                this.marker = L.marker(this.originalPoint).addTo(map)
                this.randomInRange = this.randomZonePoint(this.originalPoint, 400)
                this.shiftedZoneMarker = L.circle(this.randomInRange, 400, {color: '#FF0000'}).addTo(map)
            })
        }
    }
</script>

<style lang="scss">
    #map {
        height: 500px;
    }

    .submit-button-container {
        margin: 10px 0px;
        button {
            float: right;
        }
    }
</style>
